.vscode/**
.vscode-test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
test-workspace

node_modules/**/@types
node_modules/**/*.md
node_modules/**/LICENSE
node_modules/**/LICENSE.txt
node_modules/**/*.LICENSE
node_modules/**/*.map.js
node_modules/**/.github
